node_modules/
.next/
coverage/
.DS_Store
*.log
.env*
!.env.example

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

cleanup-r2.mjs
compress-r2.mjs
list-r2.mjs
r2-inventory.json